.Pokecard {
  background-color: #fff;
  width: 230px;
  padding: 10px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.Pokecard-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: midnightblue;
}

.Pokecard-text {
  font-size: 15px;
  font-weight: 400;
}

.Pokecard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #eceff1;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.Pokecard img {
  transition: all ease 0.5s;
}

.Pokecard img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
